<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Javier Díaz Gómez - Frontend & Backend Developer
	link(rel="stylesheet", href="css/styles.css")
body
	.container
		h1 Javier Díaz Gómez
		h2 frontend <span>&</span> backend developer
		p Jade, Stylus, jQuery, Angular, Laravel5, RoR
		ul.social
			li
				a(href="https://dribbble.com/esekaocho", target="_blank", class="dribbble") dribbble
			li
				a(href="https://github.com/dazjavier", target="_blank", class="github") github
			li
				a(href="https://twitter.com/daz_javier", target="_blank", class="twitter") twitter
			li
				a(href="mailto:javiercoree@gmail.com") mail me