<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Javier Díaz Gómez - Frontend & Backend Developer
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet", href="css/styles.css")
body
	.container
		h1 Javier Díaz Gómez
		h2 frontend <span>&</span> backend developer
		p I'm a #[span(class='dashed') available for some freelance work] Chilean developer who loves the web; father & boyfriend. Sometimes I upload some of my work on #[a(href='https://dribbble.com/esekaocho', class='dribbble') Dribbble] and some of my codes on  #[a(href='https://github.com/dazjavier', class='github') Github]. I sometimes talk shit on #[a(href='https://twitter.com/daz_javier', class='twitter') Twitter]. If you have something to work on or just want to say hi, #[a(href='mailto:javiercoree@gmail.com', class='mail') email me].